name: 'Run Lint CI'

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: 'read'

jobs:
  run-lint:
    name: lint

    timeout-minutes: 10

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.9']

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8

      - name: Lint with flake8
        run: flake8
